include ../tpl/functions.pug

doctype html
html
  head
    meta(charset='UTF-8')
    title TerraZero
    link(type="text/css", href="./src/css/styles.css", rel="stylesheet")
    script
      | require('./head.js')
    script
      | SYS.src('js', 'scripts.js')
  body
    #page
      #header
      #main
        #content
        #sidebar
      #footer
  script
    | require('./renderer.js')
