doctype html
html
  head
    meta(charset='UTF-8')
    title TerraZero
    link(type="text/css", href="./src/css/styles.css", rel="stylesheet")
    script
      | require('./head.js')
  body
    #root
  script
    | require('./renderer.js')
