mixin render(value)
  if typeof value == 'string'
    | #{value}

mixin field(name)
  +render(entity[name])

mixin content
  - var fields = entity.controller().fields();
  - for (var field in fields)
    .field(class='field-' + field)
      | #{entity[field]}