.test {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  position: relative;
}

.test svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
}